.comment-container {
    display: flex;
    align-items: center;
    background-color: #2c213f;
    padding: 10px;
    border-radius: 8px;
    color: white;
    max-width: 600px;
    justify-content: space-between;
}

.comment-content {
    flex: 1;
    padding-right: 10px;
}

.comment-author-time {
    font-weight: bold;
}

.comment-text {
    margin-top: 5px;
}

.comment-avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
